.header__image {
    margin-right: auto;
}

@media (max-width: 767px) {
    .header__image {
        width: 44.375vw;
        max-width: 176px;
        height: 13.125vw;
        max-height: 52px;
    }
}