.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media (max-width: 858px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 630px) {
    .place__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}
