.header {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    max-width: 1184px;
    height: 52px;
    margin-top: 28px;
    max-width: 1184px;
}

@media (max-width: 1024px) {
    .header {
        width: 93.75%;
        max-width: 928px;
    }
}

@media (max-width: 320px) {
    .header {
        height: 42px;
    }
}