.cover__text_title {
    max-width: 560px;
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 768px) {
    .cover__text_title {
        font-size: 10vw;
        line-height: 10.9375vw;
    }
}