.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    margin: 0;
}

.place:nth-child(odd) .place__paragraph:nth-child(2) {
    margin-top: 27px;
}

.place:nth-child(even) .place__paragraph:nth-child(2) {
    margin-top: 26px;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}