.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 984px;
    margin-top: 92px;
}

@media (min-width: 850px) and (max-width: 1160px) {
    .intro {
        width: 90.625vw
    }
}

@media (max-width: 850px) and (min-width: 630px) {
    .intro {
        width: 93.75vw;
    }
}

@media (max-width: 630px) {
    .intro {
        width: 90vw;
    }
}

@media (max-width: 448px)  {
    .intro {
        margin-top: 64px;
    }
}