.align-self {
    display: flex;
    width: 90.625%;
    max-width: 984px;
    margin-top: 92px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .align-self {
        width: 93.75%;
        max-width: 928px;
    }
}