.place {
    display: grid;
    grid-template-columns: 35.9375vw 1fr;
    grid-template-rows: 1fr max-content;
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-child {
    margin-top: 0;
}

@media (max-width: 1160px) and (min-width: 900px) {
    .place {
        grid-template-columns: 42.96875vw 1fr;
        column-gap: 32px;
    }
}

@media (min-width: 630px) and (max-width: 900px) {
    .place {
        margin-top: 73px;
        grid-template-columns: 44.271vw 1fr;
        column-gap: 28px;
    }
}

@media (max-width: 630px) {
    .place {
        grid-template-columns: 100%;
        row-gap: 28px;
        width: 100%;
    }
}

@media (max-width: 448px)  {
    .place {
        margin-top: 50px;
        row-gap: 32px;
    }
}